doctype html

html
	head
	
	link(rel = 'stylesheet' , href = '/css/bootstrap.min.css')
	link(rel = 'stylesheet' , href = '/css/styles.css')
	
	style.
 
		body {
			font-family: Arial, Helvetica, sans-serif;
			color: black;
			margin        : 0;
			padding       : 0;
			background-color: #cad297;
 
		}
		
		input[type=submit] {
		  border-radius: 25px; 
		}
		
		a[type=submit] {
			border-radius: 25px; 
		}
		
	body
	
	.container
		h1 Welcome #{name} !
		
		form(action = "/customerpanel", method = "post")
			div.actions  
				input(class="btn btn-md btn-success btn-block", type = "submit", name = "action" , value = "change password") 
				input(class="btn btn-md btn-success btn-block", type = "submit", name = "action" , value = "change email")  
				input(class="btn btn-md btn-success btn-block", type = "submit", name = "action" , value = "change phone number") 
				input(class="btn btn-md btn-success btn-block", type = "submit", name = "action" , value = "go to listings")
				a(class="btn btn-md btn-success btn-block", type = "submit", name = "action", href ='/logout' ) log out
 
				
 
	
		table#customerinfo.table.table-hover.table-striped.table-bordered
			thead
				tr 
					td First Name
					td Last Name 
					td Phone Number
					td Email 
			tbody  
				tr  
					td #{customer.first_name}
					td #{customer.last_name} 
					td #{customer.phone_number}
					td #{customer.email} 
					
						script(src='https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css')
						script(src='https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js')
						
						script.
							$(document).ready(function() {
								$('#customerinfo').DataTable(); 
							}); 

