doctype html

html

	style.
		body {
			background-color: #cad297;
		}
		 
		form input[type=text] {
			width: 100%;
			padding: 12px 20px;
			margin: 11px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		

	head
	
	link(rel = 'stylesheet' , href = '/css/bootstrap.min.css')
	link(rel = 'stylesheet' , href = '/css/styles.css')
	
	title Team #{teamNumber}
 

body 

  .container
  
	h2 Create Property 
   
	form(name="add-property", action="/insert", method="post") 

		div.input
			span.label Property Type
			input(type="text", name="propertytype")
 

		form(name="add-property", action="/insert", method="post") 
			div.input
				span.label Property Type
				input(type="text", name="propertytype")

			div.input
				span.label Price
				input(type="text", name="price")

			div.input
				span.label Size
				input(type="text", name="size")

			div.input
				span.label Number of Bedroom
				input(type="text", name="num_bedroom")

			div.input
				span.label Number of Bathroom
				input(type="text", name="num_bathroom")
	 
			div.input
				span.label Street Address
				input(type="text", name="street")
				
			div.input
				span.label City
				input(type="text", name="city")
				
			div.input
				span.label State
				input(type="text", name="state")
				
			div.input
				span.label Zip
				input(type="text", name="zip")

			div.actions
				input(type="submit",name="action", value="add")
				input(type="submit",name="action", value="delete")
				input(type="submit",name="action", value="update")  
	 
	 
			table#crud.table.table-hover.table-striped.table-bordered
				thead
					tr
						td
						td Type
						td Price
						td Size (sq ft)
						td Number of Bedroom
						td Number of Bathroom 
						td Street
						td City
						td State
						td Zip
				tbody
					each property in properties
						tr 
							td 
								input#checkbox1(type='checkbox' name='options[]' value='1')
							td #{property.propertytype}
							td #{property.price}
							td #{property.size}
							td #{property.num_bedroom}
							td #{property.num_bathroom}  
							td #{property.street}
							td #{property.city}
							td #{property.state}
							td #{property.zip}
							td
								input(class="btn btn-md btn-success btn-block", type="submit",name="action", value="x")
								
							script(src='https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css')
							script(src='https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js')
								
								script.
									$(document).ready(function() {
										$('#crud').DataTable();
									});
